.encabezado{
    margin: 2rem;
    border: 1px solid black;

}

.nombre_formato{
    border-right: 1px solid black;
    border-left:1px solid black ;
}

.informacion_formato{
    border-top: 1px solid black;
}
.container_informacion{

}
.datos{
    border: 1px solid black;
    width: 93%;
}
.datos_label{
    width: 100%;
    border-bottom: 1px solid black;
}
.datos_label_ficha{
    display: flex;
}
.fecha{
    border-top: 1px solid black;
}