.error-container {
  border: 2px solid red;
  background-color: #d60707;
}

.container-login {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
}
.container-foto{
  margin: 2rem;
}
.form_login {
  text-align: center;
  width: 25rem;
  padding: 2rem;
  background: #38a900b2;
  margin: 2rem;

}
.form_login h5{
  margin-bottom: 1.5rem;
  color: #ffff;
}
.form_login label{
  color: #030303;
}
.input{
width: 100%;
background: #f8f5f5;
padding: 0.5rem;
}
.error-credenciales {
  box-shadow: 0 0 30px #e45757;
}
@media (max-width: 800px) {
  .login-image {
    display: none;
  }
}
