.img-carousel {
    width: 100%; /* Ajusta el ancho del carrusel según tus necesidades */
    height: 25rem; /* Permite que la altura se ajuste automáticamente */
    object-fit: cover; /* Evita la distorsión, ajustando la imagen para cubrir el contenedor */
    vertical-align: middle; /* Alinea verticalmente las imágenes */
  }
  .container-carousel {
    width: 40em;
    background: linear-gradient(to right, #f8f8f8, #ffffff);
  }
  
  .container-equipo {
    width: 100%;
    background: linear-gradient(to right, #ffffff, #f8f8f8);
  
  }
  
  .container-objetivos {
    width: 100%;
    background: linear-gradient(to right, #f8f8f8, #ffffff);
  }
  
  .container-informacion {
    width: 100%;
    background: linear-gradient(to right, #ffffff, #f8f8f8);
  }
  
.container-inicio{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f8f8f8;
}

