.container-contactanos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.container_form-contacto h5 {
    margin-bottom: 1rem;
    color: #ffff;
}

.contacto-foto {
    width: auto;
}

.container_form-contacto {
    width: auto;
    text-align: center;
    width: 25rem;
    padding: 1rem;
    background: #38a900b2;
    margin: 1rem;
}

@media (max-width: 800px) {
    .login-image {
        display: none;
    }
}