
.dividir{
  width: 100%;
  margin: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contain-foto {
  width: 50%;
}
.contain-foto img {
  width: 60%;
  
}
.container_beneficio{
  width: 50%;
display: flex;
justify-content: flex-end;
text-align: center;
}
.form_beneficio{
  padding: 2rem;
  background: #f8f8f8;
  width: 80%;
}