.container_adjudicados{
    background: #f8f8f8;
    
}
.container_adjudicados_table{
    margin-right: 3rem;
    margin-left: 3rem;

}
.container-busqueda{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.titulos{
    color: #39a900;;
}